{{setTitle user}}

<section class="profile-hero">
    <div class="container">
        <h2>User Profile</h2>
        <p>Welcome back, <span id="username">{{user.username}}</span> <strong id="email">( {{user.email}} )</strong></p>
    </div>
</section>

<section class="created-laptops">
    <div class="container">
        <h3>Created Laptops</h3>
        <div class="laptop-list">
            {{#if createdOffers}}
            {{#each createdOffers}}
            <div class="laptop-item">
                <img src="{{image}}" alt="Laptop">
                <p><strong>Brand:</strong> {{brand}}</p>
                <p><strong>Model:</strong> {{model}}</p>
                <a href="/offer/details/{{id}}" class="btn">View Details</a>
            </div>
            {{/each}}
            {{else}}
            <p class="no-post">You haven't created a post yet</p>
            {{/if}}
        </div>
    </div>
</section>

<section class="preferred-laptops">
    <div class="container">
        <h3>Preferred Laptops</h3>
        <div class="laptop-list">
            {{#if preferredOffers}}
            {{#each preferredOffers}}
            <div class="laptop-item">
                <img src="{{image}}" alt="Laptop">
                <p><strong>Brand:</strong> {{brand}}</p>
                <p><strong>Model:</strong> {{model}}</p>
                <a href="/offer/details/{{id}}" class="btn">View Details</a>
            </div>
            {{/each}}
            {{else}}
            <p class="no-post">You haven't preferred any devices yet</p>
            {{/if}}
        </div>
    </div>
</section>